
body{
    font-family: sans-serif;

}


header div{
    display: flex;
    flex-direction: row;
    background-color: #808080;
    color: 	red;
    padding-left: 160px;
    height: 20vh;
    font-size: 16px;
    
}

figure img{
display: flex;
flex-direction: row;
    position: absolute;
    top: 25px;
    right: 1320px;
}


.contacts{
    position: absolute;
    top: 0;
    left: 1500px;
    margin-top: 10px;
    margin-left: -900px;
}

.contact{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    line-height: 0.5;
    color: white;  
    font-size: 16px;
}


.content{
    display: grid;
    grid-template-columns: 2fr 2fr ;
    margin-top: 100px;
    margin-left: 200px;
    margin-right: 90px;

}


.skills-primary::before{
    content: "Main";
}

.skills-secondary::before{
    content: "Other";
}

.content h3::before{
    content: "";
    display: inline-block;
    width: 15px;
    height: 15px;
    background-color: red;
    margin-right: 7px;
    border-radius: 50%;
    
    
}

#about p{
    width: 600px;
}

.experience-description{
    width: 660px;
}



a{
    text-decoration: none;
    color: black;
}

h3 {
    border-bottom: 1px solid gray;
}

.experience-type, .experience-institution, .experience-date-separator{
    color: red;
}

.experience-institution::before{
    content:"@";
    color: red;
}

.experience-location, .day, .month, .year{
    opacity: 0.5;
}

.experience-location::before{
    content: "In";
}


.skill{
    border: 1px;
    padding: 7px;
    margin: 10px;
    background-color: #ced4da;
}

#contact h3 {
    visibility: hidden;
}


.skills-primary .skill{
    color: white;
}


.skills-primary [data-skill="5"] span {
    background-color: red;
    width: 50%;
    display: inline-block;
}

.skills-primary [data-skill="3"] span{
    background-color: red;
    width: 30%;
    display: inline-block;
}

.skills-primary [data-skill="1"] span{
    background-color: red;
    width: 9%;
    display: inline-block;
}

.skills-secondary .skill {
    color: white;
    opacity: 0.8;
}

.skills-secondary [data-skill="9"] span{
    background-color: red;
    width: 90%;
    display: inline-block;
}

.skills-secondary [data-skill="5"] span{
    background-color: red;
    width: 50%;
    display: inline-block;
}

.skills-secondary [data-skill="7"] span{
    background-color: red;
    width: 70%;
    display: inline-block;

}

.contacts{
    background-color: red;
}


.contact-skype dd{
    display: none;
   
}





@media only screen and (max-width: 700px) {

    .content { 
        grid-template-columns: repeat(1, 1fr); 

    }

    #contact h3 {
        visibility: visible;  
    }

    
    h3{
        width: 370px;
    }

    
    #about p {

        width: 390px;
        margin: 0;
        
    }
    

    #competencies{
        width: 390px;
    }

    .experience-description{
        width: 390px;
    }

  .contacts{
    padding-right: 20px;
    padding-left: 20px;
    margin: auto;
    height: 193px;
    line-height: 0.5;
    justify-content: space-evenly;
    flex-direction: column;
    position: static;
    display: flex;
    
  }


  figure img {
    width: 84px;
    margin-left: -189px;
    margin-top: 65px;
    flex-direction: column;
    display: flex;
    position: static;

  }

    header {
        height: 162px;
    }

    

    h1 {
        font-size :19px;
     }

    h2 {
        font-size : 18px
     }
    

}



